<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">Competitors</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="judge in $ctrl.judges track by $index" judge-repeater="$ctrl.judges">
                <th>#{{$index + 1}}</th>
                <td>
                    <input type="text" placeholder="Name" ng-model="$judge.name" class="form-control" required />
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.remove($index)">
                        <i class="fa fa-fw fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn" ng-click="$ctrl.add()" ng-disabled="!$ctrl.canRemove" ng-class="{ 'btn-primary': $ctrl.canRemove }">
                        <span>Add New Judge</span>
                        <i class="fa fa-fw fa-mortar-board"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="alert alert-danger" ng-if="$ctrl.invalid">
        <i class="fa fa-fw fa-warning"></i>
        <span ng-bind="$ctrl.error"></span>
    </div>
</div>
