<div class="container">
    <ng-switch on="$ctrl.valid">
        <div class="alert alert-success" ng-switch-when="true">
            <i class="fa fa-fw fa-check-circle"></i>
            <span>The judges are valid.</span>
        </div>
        <div class="alert alert-danger" ng-switch-when="false">
            <i class="fa fa-fw fa-warning"></i>
            <span>{{$ctrl.error}}</span>
        </div>
    </ng-switch>
    <table class="table table-bordered" ng-form="form">
        <thead>
            <tr>
                <th colspan="2">Judges</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="judge in $ctrl.judges">
                <th>#{{$index + 1}}</th>
                <td>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <button type="button" class="btn" ng-click="$ctrl.moveUp($index)" ng-disabled="$first" title="Move Up">
                                <i class="fa fa-fw fa-caret-up"></i>
                            </button>
                            <button type="button" class="btn" ng-click="$ctrl.moveDown($index)" ng-disabled="$last" title="Move Down">
                                <i class="fa fa-fw fa-caret-down"></i>
                            </button>
                        </div>
                        <input type="text" placeholder="Name" ng-model="judge.name" class="form-control" tabindex="{{$index + 1}}" />
                        <div class="input-group-append">
                            <button type="button" class="btn" ng-click="$ctrl.remove($index)" title="Remove Judge" ng-disabled="!$ctrl.canRemove">
                                <i class="fa fa-fw fa-times" ng-class="{ 'text-danger': $ctrl.canRemove }"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button type="button" class="btn" ng-click="$ctrl.add()" title="Add New Judge" ng-disabled="!$ctrl.canAdd" ng-class="{ 'btn-primary': $ctrl.canAdd }">
                        <i class="fa fa-fw fa-mortar-board"></i>
                        <span>Add</span>
                    </button>
                </td>
                <td>
                    <fieldset ng-disabled="!form.$dirty">
                        <button type="button" class="btn" ng-class="{ 'btn-warning': form.$dirty }" ng-click="$ctrl.undo()">
                            <i class="fa fa-fw fa-undo"></i>
                            <span>Undo</span>
                        </button>
                        <button type="button" class="btn" ng-class="{ 'btn-success': form.$dirty && $ctrl.valid }" ng-disabled="$ctrl.invalid" ng-click="$ctrl.save()">
                            <i class="fa fa-fw fa-save"></i>
                            <span>Save</span>
                        </button>
                    </fieldset>
                </td>
            </tr>
        </tfoot>
    </table>
    <pre>{{$ctrl.judges}}</pre>
    <pre>{{$ctrl.worksheet.judges}}</pre>
</div>
