<div class="container-fluid">
    <div ng-repeat="$ctrl in $publish.workbook.worksheets" class="text-center">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="{{$ctrl.judges.length + $ctrl.competitors.length + 3}}" class="h5">
                            <b>
                                <span ng-bind="$publish.workbook.title"></span>
                                <br />
                                <small ng-bind="$ctrl.title"></small>
                            </b>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle p-1">Result</th>
                        <th rowspan="2" class="align-middle p-1" colspan="2">Competitors</th>
                        <th colspan="{{$ctrl.judges.length}}" class="align-middle p-1">Judges</th>
                        <th colspan="{{$ctrl.competitors.length}}" class="align-middle p-1">Tally</th>
                    </tr>
                    <tr>
                        <th ng-repeat="judge in $ctrl.judges" class="align-middle text-nowrap p-1">{{judge.name}}</th>
                        <th ng-repeat="competitor in $ctrl.competitors" class="align-middle text-nowrap p-1">1-{{$index + 1}}</th>
                    </tr>
                </thead>
                <tbody ng-form="form">
                    <tr ng-repeat="competitor in $ctrl.competitors | orderBy: 'rank'"
                        ng-class="{ 'text-muted': competitor.rank > $ctrl.top }">
                        <th class="align-middle p-1" ng-class="{ 'h4': competitor.rank <= $ctrl.top }">
                            <span>{{$publish.ranks[competitor.rank - 1][0]}}<sup>{{$publish.ranks[competitor.rank - 1][1]}}{{$publish.ranks[competitor.rank - 1][2]}}</sup></span>
                        </th>
                        <th class="align-middle p-1">{{competitor.name}}</th>
                        <th class="align-middle p-1">#{{competitor.id}}</th>
                        <td class="align-middle p-1 h5" ng-repeat="judge in $ctrl.judges">{{competitor.scores[$index]}}</td>
                        <td ng-repeat="item in $ctrl.competitors" class="align-middle p-1">
                            <ng-switch on="!!competitor.tally[$index * 2]">
                                <div ng-switch-when="true" ng-class="{ 'text-muted': competitor.tally[($index - 1) * 2] }">
                                    <strong>{{-competitor.tally[$index * 2]}}</strong>
                                    <br />
                                    <small>({{competitor.tally[$index * 2 + 1]}})</small>
                                </div>
                                <small ng-switch-when="false" class="text-muted">No<br />Majority</small>
                            </ng-switch>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>