<p class="card-text">There must be an odd number of judges, a minimum of 3 and a maximum of 7</p>
<p>
    <a ng-href="#!/judges/{{$ctrl.index}}" class="btn" ng-class="{ 'btn-success': $ctrl.validateJudges, 'btn-danger': !$ctrl.validateJudges }">
        <i class="fa fa-fw" ng-class="{ 'fa-check-circle': $ctrl.validateJudges, 'fa-warning': !$ctrl.validateJudges }"></i>
        <span>Judges</span>
        <span>({{$ctrl.judges.length || 0}})</span>
    </a>
</p>
<p class="card-text">There must be a minimum of 2 competitors and a maximum of 8</p>
<p>
    <a ng-href="#!/competitors/{{$ctrl.index}}" class="btn" ng-class="{ 'btn-success': $ctrl.validateCompetitors, 'btn-danger': !$ctrl.validateCompetitors }">
        <i class="fa fa-fw" ng-class="{ 'fa-check-circle': $ctrl.validateCompetitors, 'fa-warning': !$ctrl.validateCompetitors }"></i>
        <span>Competitors</span>
        <span>({{$ctrl.competitors.length || 0}})</span>
    </a>
</p>
