<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <input type="text" class="form-control text-center" ng-model="$ctrl.$workbook.title" placeholder="{{$ctrl.defaultWorkbookTitle}}" />
        </div>
        <div class="card-body" ng-if="!$ctrl.worksheets.length">
            <p class="card-text">A workbook allows you to collate the scores for multiple competitions.
            <p class="card-text">Add a new worksheet to get started.</p>
        </div>
        <div class="list-group list-group-flush p-2" ng-repeat="worksheet in $ctrl.worksheets">
            <div class="input-group">
                <div class="input-group-prepend">
                    <a ng-href="#!/worksheets/{{$index}}" class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                        <span>Edit</span>
                    </a>
                </div>
                <input type="text" class="form-control" ng-model="worksheet.title" placeholder="{{$ctrl.defaultWorksheetTitle}}" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-fw fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-plus-circle"></i>
                <span>Add&hellip;</span>
            </button>
        </div>
    </div>
</div>