<div class="container-fluid">
    <div class="card text-center" ng-class="{ 'border-success': form.$valid, 'border-danger': form.$invalid }" ng-form="form">
        <div class="card-header">
            <h4 class="card-title">
                <strong>{{$ctrl.title}}</strong>
            </h4>
            <ul class="nav nav-tabs nav-fill card-header-tabs" ng-if="form.$valid">
                <li class="nav-item" ng-repeat="tab in $ctrl.tabs">
                    <a class="nav-link" ng-class="{ 'active': tab === $ctrl.tab }" href="#" ng-click="$ctrl.setTab(tab, $event)">{{tab}}</a>
                </li>
            </ul>
        </div>
        <h5 class="card-header bg-danger text-white card-subtitle" ng-if="form.$invalid">
            <i class="fa fa-fw" ng-class="{ 'fa-check-circle': form.$valid, 'fa-warning': form.$invalid }"></i>
            <span>{{$ctrl.message}}</span>
        </h5>
        <div class="card-body">
            <ng-include src="$ctrl.templateUrl"></ng-include>
        </div>
        <div class="card-footer text-right">
            <a href="#" class="btn btn-primary">
                <i class="fa fa-fw fa-arrow-circle-left"></i>
                <span>Back</span>
            </a>
        </div>
    </div>
</div>
