body {
    padding-top: 70px;
}

table, thead, tbody, tfoot, td, th {
    border-collapse: collapse !important;
    border: 1px solid Silver !important;
}

table {
    page-break-inside: avoid;
}

@media print {
    @page {
        size: A4 portrait;
    }
}
